{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Organize and relive your memories with Memento Vault, a collaborative photo and video sharing app with AI-powered features." />

    <meta name="keywords" content="photo sharing app, video sharing, collaborative memory organizer, AI-powered photo organization, memory vault" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
    <title>Memento Vault | Everything Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/everything.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/everything.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (t.innerHTML = "root: { --tmp-var: bold; }"), document.head.appendChild(t), (e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)"))), t.parentNode.removeChild(t), e;
      };
      supportsCssVars() || alert("Please view this work in a modern browser that supports CSS Variables.");
    </script>
  </head>
  <body id="pageTop" class="page-content" data-spy="scroll" data-target="#mainNav">
    <!--======================== Nav-Section ================================-->
    {% include 'sidebar.html' %}

    <!--======================== Main-Section ================================-->
    <main>
      <div class="container-fluid">
        <header>{% include 'top_nav.html' %}</header>
        <!-- end header -->

        <!-- hero -->
        <div id="hero">
          <!-- django messages -->
          {% include 'toast.html' %}
          <!--  end django message -->

          {% if media_files %}
          <hr class="d-flex mx-auto" id="page_line" />

          <!--  -->
          <!-- <center> -->
          <!-- <div id="search"> -->
          <!-- <input id="input" class="form-control live-search-box" placeholder="search by colors, object or 'emotions'..." /> -->
          <!-- <button id="button"> -->
          <!-- <img src="{% static 'images/photo.png' %}" class="img-fluid" id="search_icon" alt="search_icon" /> -->
          <!-- </button> -->
          <!-- </div> -->
          <!-- </center> -->
          <!-- End center search -->
        </div>
        <!-- end hero -->

        <!-- images & videos -->
        <div id="vault_objs">
          <h2 id="mob_txt">
            <span><img src="{% static 'images/photo.png' %}" class="img-fluid" id="search_icon" alt="search_icon" /> vault media</span>
          </h2>
          <h2 id="des_text">
            <span><img src="{% static 'images/photo.png' %}" class="img-fluid" id="search_icon" alt="search_icon" /> vault media</span>
          </h2>

          <div id="masonry-container" class="live-search-list">
            <div id="col_section">
              {% for media in media_files %}
              <div class="masonry-item" data-search-term="{{ media.media.caption|lower }}" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{media.media.id}}">
                {% if media.type == 'image' %}
                <img src="{{ media.media.file.url }}" class="img-fluid" alt="{{ media.media.tags|slice:'1:2'|default:'upload-img' }}" />
                {% elif media.type == 'video' %}
                <div class="video-wrapper">
                  <video class="img-fluid" id="vid_img">
                    <source src="{{ media.media.file.url }}" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                </div>
                {% else %}
                <p>Unsupported file format</p>
                {% endif %}
              </div>
              {% include 'vaults/view_image_modal.html' %} {% endfor %}
            </div>
          </div>
          <!-- end masonry-container -->
        </div>
        <!-- end images & videos -->

        {% else %}
        <!--  -->
        <div id="no_media">
          <img src="{% static 'images/empty-set.png' %}" class="img-fluid d-flex mx-auto" id="icon_img" alt="icon_img" />
          <h4 class="no_vault-txt">No media files uploaded yet</h4>
        </div>
        <!--  -->
        {% endif %}
      </div>
      <!-- end container-fluid -->

      <!--=========================================== deleteMedia-Modal ===============================-->
      {% include 'vaults/delete_media-modal.html' %}
      <!-- End deleteMedia-modal-->
    </main>
    <!-- end main -->

    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/everything.js' %}"></script>
  </body>
</html>
