{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Organize and relive your memories with Memento Vault, a collaborative photo and video sharing app with AI-powered features."
    />

    <meta
      name="keywords"
      content="photo sharing app, video sharing, collaborative memory organizer, AI-powered photo organization, memory vault"
    />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
    <title>Memento Vault | Everything Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/everything.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/everything.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Nav-Section ================================-->
    {% include 'sidebar.html' %}

    <!--======================== Main-Section ================================-->
    <main>
      <div class="container-fluid">
        <header>{% include 'top_nav.html' %}</header>
        <!-- end header -->

        <!-- hero -->
        <div id="hero">
          <div class="row" id="cards_row">
            <div class="col-md-6 align-self-center">
              <div class="card" id="form_card">
                <div class="card-body">
                  <h5>create new vault</h5>
                  <div class="input-group mb-3" id="vault_form">
                    <input
                      type="text"
                      class="form-control input"
                      placeholder="name your new vault..."
                    />
                    <button type="submit" name="createVault">
                      <img
                        src="{% static 'images/up-arrow.png' %}"
                        class="img-fluid"
                        id="submit--img"
                        alt="submit--img"
                      />
                    </button>
                  </div>
                  <!-- end vault_form -->
                </div>
                <!-- End card-body-->
              </div>
              <!-- End card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->

          <!-- mobile form -->
          <div class="card" id="mob_form_card">
            <div class="card-body">
              <h5>create new vault</h5>
              <div class="input-group mb-3" id="vault_form">
                <input
                  type="text"
                  class="form-control input"
                  placeholder="name your new vault..."
                />
                <button type="submit" name="createVault">
                  <img
                    src="{% static 'images/up-arrow.png' %}"
                    class="img-fluid"
                    id="submit--img"
                    alt="submit--img"
                  />
                </button>
              </div>
              <!-- end vault_form -->
            </div>
            <!-- End card-body-->
          </div>
          <!-- End card-->
          <!--  -->

          <hr class="d-flex mx-auto" id="page_line" />

          <center>
            <div id="search">
              <input
                id="input"
                class="form-control live-search-box"
                placeholder="search by 'mood' or vault name..."
              />
              <button id="button">
                <img
                  src="{% static 'images/photo.png' %}"
                  class="img-fluid"
                  id="search_icon"
                  alt="search_icon"
                />
              </button>
            </div>
          </center>
          <!-- End center search -->
        </div>
        <!-- end hero -->

        <!-- images & videos -->
        <div id="vault_objs">
          <h2 id="mob_txt"><span>vault images & videos</span></h2>
          <h2 id="des_text"><span>create new vault</span></h2>

          <div id="masonry-container">
            <div class="create_form">
              <div class="card" id="create_form">
                <div class="card-body">
                  <div class="input-group mb-3" id="vault_form">
                    <input
                      type="text"
                      class="form-control input"
                      placeholder="name your new vault..."
                    />
                    <button type="submit" name="createVault">
                      <img
                        src="{% static 'images/up-arrow.png' %}"
                        class="img-fluid"
                        id="submit--img"
                        alt="submit--img"
                      />
                    </button>
                  </div>
                  <!-- end vault_form -->
                </div>
                <!-- End card-body-->
              </div>
              <!-- End card-->
            </div>
            <!-- end create_form -->

            <div
              class="masonry-item"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <img
                src="{% static 'images/photo-1634152962476-4b8a00e1915c.avif' %}"
                class="img-fluid"
                alt="upload-img"
              />
            </div>
            <!-- end masonry-item -->

            <div class="masonry-item">
              <a href="#">
                <img
                  src="{% static 'images/00000000BzV0NZyR0WYmPf.jpeg' %}"
                  class="img-fluid"
                  alt="upload-img"
                />
              </a>
            </div>
            <!-- end masonry-item -->

            <div class="masonry-item">
              <a href="#">
                <img
                  src="{% static 'images/photo-1698570493404-ee2c4f1fc498.avif' %}"
                  class="img-fluid"
                  alt="upload-img"
                />
              </a>
            </div>
            <!-- end masonry-item -->

            <div class="masonry-item">
              <a href="#">
                <img
                  src="{% static 'images/andrew-seaman-4Fi_4Q6_eFM-unsplash.jpg' %}"
                  class="img-fluid"
                  alt="upload-img"
                />
              </a>
            </div>
            <!-- end masonry-item -->

            <div class="masonry-item">
              <a href="#">
                <img
                  src="{% static 'images/p_background.webp' %}"
                  class="img-fluid"
                  alt="upload-img"
                />
              </a>
            </div>
            <!-- end masonry-item -->
          </div>
          <!-- end masonry-container -->
        </div>
        <!-- end images & videos -->
      </div>
      <!-- end container-fluid -->

      <!--=========================================== view_image-Modal ===============================-->
      {% include 'vaults/view_image_modal.html' %}
      <!-- End view_image-modal-->
    </main>
    <!-- end main -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/everything.js' %}"></script>
  </body>
</html>
