{% load static %}
<!--=========================================== uploadImageModal--layout ===============================-->
<div id="uploadImageModal">
  <div class="modal fade" id="uploadImg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1>{{vault.title}} - Vault</h1>
          <img src="{% static 'images/close-icon.png' %}" class="img-fluid btn-close" id="close_svg" data-bs-dismiss="modal" aria-label="Close" alt="close_svg" />
        </div>
        <!-- end modal-header -->
        <div class="modal-body">
          <p>Share your best moments with others. Upload your <span></span> favorite videos and images.</p>

          <!--  -->
          <div class="card d-flex mx-auto" id="main_card">
            <div class="card-body">
              <!--  -->
              <div id="upload_div">
                <div class="card" id="uploads_card">
                  <div class="card-body">
                    <img src="{% static 'images/upload.png' %}" class="img-fluid d-flex mx-auto" id="uploads_img" alt="uploads_img" />

                    <!--  -->
                    <form action="" method="POST" enctype="multipart/form-data" id="uploadForm">
                      {% csrf_token %}
                      <div class="input-group mb-3" id="upload_field">
                        {{media_form}}
                        <button type="submit" id="media_btn" class="btn">Upload Media</button>
                      </div>
                      <!-- end upload_field -->
                    </form>
                    <!-- end uploadForm -->
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end uploads_card -->
              </div>
              <!-- end upload_div -->
              <!--  -->
              <h6>
                Just a heads-up:
                <span>you can only have 20 objects in this vault.</span>
              </h6>
              <!--  -->
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->
          <!--  -->
        </div>
        <!-- end modal-body -->
      </div>
    </div>
  </div>
  <!-- end viewImageModal -->
</div>
<!-- end uploadImageModal -->

<script>
  <!--  -->
  document.addEventListener("DOMContentLoaded", function () {
    const uploadButton = document.getElementById("media_btn");
    uploadButton.addEventListener("click", function () {
      uploadButton.value = "Uploading...";
    });
  });
</script>
