{% load static %}
<!--  -->
{% load humanize %}
<!--  -->
{% load custom_filters %}
<!--=========================================== profile_settings--layout ===============================-->
<div id="viewImageModal">
  <div class="modal fade" id="staticBackdrop{{media.media.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{media.media.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5 align-self-center">
              {% if media.type == 'image' %}
              <img src="{{ media.media.file.url }}" class="img-fluid" id="modal_img" alt="upload-img" />
              {% elif media.type == 'video' %}
              <video class="videos" controls="controls" loading="lazy" id="modal_img">
                <source src="{{ media.media.file.url }}" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
              {% else %}
              <p>Unsupported file format</p>
              {% endif %}
            </div>
            <!-- end col -->

            <div class="col-md-7">
              <div id="div_header">
                <h1 class="modal-title">
                  {{ media.media.file.name|truncate_filename:12 }}
                  <img src="{% static 'images/close-icon.png' %}" class="img-fluid btn-close" id="close_svg" data-bs-dismiss="modal" aria-label="Close" alt="close_svg" />
                </h1>
                <small id="modal_timestamp">{{ media.media.created_at|naturaltime }}</small>
              </div>
              <!-- end div_header -->

              <div id="div_body">
                {% if media.media.caption %}
                <div id="image_description">
                  <p>{{ media.media.caption }}</p>
                </div>
                <!-- end image_description -->
                {% endif %}

                <!--  -->
                <h2>
                  MoodLens
                  <img src="{% static 'images/smile.png' %}" class="img-fluid" id="modal_icon" alt="modal_icon" />
                </h2>
                {% if media.media.tags.exists %}
                <div class="tags mt-2">
                  {% for tag in media.media.tags.all|slice:"1:" %}
                  <span class="badge badge-pill me-1 mb-1">{{ tag }}</span>
                  {% endfor %}
                </div>
                {% endif %}
                <!--  -->

                <hr id="line_divider" />
                <center>
                  <a href="{{ media.media.file.url }}" download="{{ media.media.file.name }}" title="Download {{ media.media.file.name }}">
                    <img src="{% static 'images/image-.png' %}" class="img-fluid download_btn" id="modal_icon" alt="Download {{ media.media.file.name }}" />
                  </a>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#deleteMediaModal" onclick="setMediaId('{{ media.media.id }}')">
                    <img src="{% static 'images/trash.png' %}" class="img-fluid delete_btn" id="modal_icon" alt="modal_icon" />
                  </a>
                </center>
                <!-- end action_btns -->
              </div>
              <!-- end div_body -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- end modal-body -->
      </div>
    </div>
  </div>
  <!-- end viewImageModal -->
</div>
