annotated-types==0.7.0
asgiref==3.8.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.1
dj-database-url==2.2.0
Django==5.1.1
django-active-link==0.2.2
django-allauth==65.0.2
django-cleanup==9.0.0
django-htmx==1.19.0
django-resized==1.0.3
django-taggit==6.1.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
httplib2==0.22.0
humanize==4.11.0
idna==3.10
oauthlib==3.2.2
pillow==10.4.0
proto-plus==1.25.0
protobuf==5.29.2
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
PyJWT==2.9.0
pyparsing==3.2.1
python-decouple==3.8
qrcode==8.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sqlparse==0.5.1
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
whitenoise==6.7.0
