*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Bold-Wof";
  src: url("../fonts/bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Medium-Light";
  src: url("../fonts/medium.woff2");
}
.page-content {
  --main-color: #333333;
  --text-color: #eeeeee;
  --header-font: "Bold-Wof";
  --text-font: "Medium-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/****************************************** NAVIGATION ************************************/
/* sidebar */
#nav_ {
  margin-top: 13rem;
}
.sidebar {
  width: 52px;
  height: 100vh;
  background-color: var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--text-color);
}
.sidebar nav ul {
  list-style-type: none;
}
.sidebar nav ul li {
  margin-bottom: 20px;
}
#icon_ {
  width: 22px;
  margin-left: -55%;
}
#icon_v {
  width: 33px;
  margin-left: -55%;
}
#notification_icon {
  width: 28px;
  margin-left: 15%;
}
#user_avatar {
  width: 35px;
  object-fit: cover;
  margin-top: 25%;
}
.sidebar .bottom-icons {
  margin-bottom: 35%;
  margin-left: 15%;
}

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* sidebar */
  .sidebar {
    width: 50px;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* body {
    display: none;
  } */
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* sidebar */
  .sidebar {
    width: 57px;
  }
  #icon_ {
    width: 22px;
    margin-left: -50%;
  }
  #icon_v {
    width: 30px;
  }
  #notification_icon {
    width: 28px;
  }
  #user_avatar {
    width: 35px;
    object-fit: cover;
    margin-top: 25%;
  }
  .sidebar .bottom-icons {
    margin-bottom: 35%;
  }
}
