*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NeueHaasGrotesk-55Roman";
  src: url("../fonts/NeueHaasGroteskText-55Roman-Web.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NeueHaasGroteskText-65Regular";
  src: url("../fonts/regular.woff2");
}
.page-content {
  --main-color: #222222;
  --text-color: #eeeeee;
  --nav-links-color: #9b9b9b;
  --header-font: "NeueHaasGrotesk-55Roman";
  --text-font: "NeueHaasGroteskText-65Regular";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/****************************************** NAVIGATION ************************************/
/* sidebar */
#nav_ {
  margin-top: 13rem;
}
.sidebar {
  width: 50px;
  height: 100vh;
  background-color: var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #707070;
}
.sidebar nav ul {
  list-style-type: none;
}
.sidebar nav ul li {
  margin-bottom: 20px;
}
.icon_ {
  width: 22px;
  margin-left: -40%;
  color: #9b9b9b;
  transition: all 0.4s ease-in-out;
}
.icon_v {
  width: 33px;
  margin-left: -55%;
  color: #9b9b9b;
  transition: all 0.4s ease-in-out;
}
.notification_icon {
  width: 33px;
  margin-left: 15%;
  color: #9b9b9b;
  transition: all 0.4s ease-in-out;
}

/* svg hover */
.icon_:hover,
.icon_v:hover,
.notification_icon:hover {
  color: #ff5924;
  transition: all 0.4s ease-in-out;
}
#user_avatar {
  width: 35px;
  object-fit: cover;
  margin-top: 25%;
}
.sidebar .bottom-icons {
  margin-bottom: 35%;
  margin-left: 15%;
}

/* top nav */
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 3px;
  padding-bottom: 0px;
  background: var(--main-color);
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
  border-bottom: 1px solid #707070;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 27px;
  right: 18px;
  padding: 1px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--text-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  width: 15px;
}
.navbar-toggler span:nth-child(2) {
  width: 37px;
  margin: 5px 0;
}
.navbar-toggler span:nth-child(3) {
  float: right;
}
.navbar-toggler:hover span:nth-child(1),
.navbar-toggler:hover span:nth-child(3) {
  width: 35px;
}
#mainNav a {
  font-family: var(--text-font);
  color: var(--nav-links-color);
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: normal;
  transition: all 0.4s ease-in-out;
}
#mainNav a:hover {
  color: #ff5924;
  transition: all 0.4s ease-in-out;
}
#mainNav .nav-item span {
  color: #707070;
  font-size: 1.7em;
}
#logout_txt {
  color: var(--text-color) !important;
}

/* header */
header {
  margin-bottom: 20px;
}
header nav {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
header nav ul li a {
  color: #999;
  text-decoration: none;
  white-space: nowrap;
}
.nav-item.active a {
  color: #ff5924 !important;
}
/* Add an active state for the SVG icon */
#nav_ li.active a .icon_v {
  fill: #ff5924 !important; /* Change SVG icon color when active */
}
/****************************************** Main-Content ************************************/
main {
  margin-left: 50px;
  padding: 20px;
  width: calc(100% - 60px);
}
/* hero */
#hero {
  margin-top: 10%;
}
#hero h1 {
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.9rem;
  font-weight: bold;
}
#hero button {
  font-family: var(--text-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.2rem;
  background-color: #2b2d3c;
  border-radius: 25px;
  vertical-align: middle;
  padding: 5px 15px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-top: 2%;
}
#create_img {
  width: 25px;
}
#hero button:hover {
  background-color: #2b2d3cbd;
  transition: all 0.4s ease-in-out;
  border: 1px solid #fff;
}
#line_divider {
  color: #707070;
}
#hero h6 {
  font-family: var(--text-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin-top: 17%;
}

/* main_card */
#main_card {
  background: #656565;
}
#hero h2 {
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 2.3rem;
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
#vault_count {
  float: right;
  background: #282828;
  padding: 2%;
  border-radius: 6px;
  margin-top: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#count_icon {
  width: 36px;
}
#vault_count span {
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: middle;
}

/* sub_card */
#sub_card {
  background: #333;
  position: absolute;
  top: 28%;
  left: 24%;
  z-index: -1;
  width: 70%;
}
#vault_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 76%;
}
#hero h3 {
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2%;
}
#hero p {
  font-family: var(--text-font);
  color: #878787;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-top: -4px;
  margin-bottom: 0;
}
#view_icon {
  width: 32px;
}
/********************** Mobile Devices Portrait and less ****************************/
@media (max-width: 380px) {
  /* CSS rules here */
  body {
    display: none;
  }
}
/********** Mobile devices (landscape phones, 576px and up) **********/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS rules here */
  body {
    display: none;
  }
}

/***************************** Media Query For 575.98px Portrait Screens and Less **********************/
@media (max-width: 575.98px) {
  /* CSS rules here */
  header,
  #row_cards #icon_img {
    display: none;
  }
  #recent_uploads .col-md-4,
  .col-6,
  .col-6 {
    border-bottom: 1px solid #70707035;
    margin-bottom: 3%;
  }
}
/********** Medium devices (landscape phones, some tablets, 768px and up) ***********/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules here */
  body {
    display: none;
  }
}

/********************************** Media Query For Large Screens (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules here */
  #nav_ {
    margin-top: 15rem;
  }
  .sidebar {
    width: 58px;
  }
  .icon_ {
    width: 22px;
    margin-left: -50%;
  }
  .icon_v {
    width: 30px;
  }
  .notification_icon {
    width: 28px;
  }
  #user_avatar {
    width: 35px;
    object-fit: cover;
    margin-top: 25%;
  }
  .sidebar .bottom-icons {
    margin-bottom: 35%;
  }

  #logout_img {
    width: 18px;
  }

  /* top nav */
  #logo {
    width: 40px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* sidebar */
  #nav_ {
    margin-top: 15rem;
  }
  .sidebar {
    width: 58px;
  }
  .icon_ {
    width: 22px;
    margin-left: -50%;
  }
  .icon_v {
    width: 30px;
  }
  .notification_icon {
    width: 28px;
  }
  #user_avatar {
    width: 35px;
    object-fit: cover;
    margin-top: 25%;
  }
  .sidebar .bottom-icons {
    margin-bottom: 35%;
  }

  #logout_img {
    width: 18px;
  }

  /* top nav */
  #logo {
    width: 40px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /* main */
  main {
    margin-left: 82px;
    padding: 20px;
    width: calc(100% - 60px);
  }

  /* hero */
  #hero {
    margin-top: 7%;
  }
  .hero-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hero h1 {
    font-size: 2.7rem;
    font-weight: bold;
  }
  #hero button {
    font-size: 1.2rem;
    padding: 5px 15px;
    margin-right: 3%;
    margin-top: 0;
  }
  #create_img {
    width: 25px;
  }
  #hero h6 {
    font-size: 1.3rem;
    margin-top: 5%;
  }

  /* main_card */
  #hero h2 {
    font-size: 2.2rem;
    margin-top: 10%;
  }
  #vault_count {
    padding: 2%;
    margin-top: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #count_icon {
    width: 33px;
  }
  #vault_count span {
    font-size: 1.5rem;
  }

  /* sub_card */
  #sub_card {
    top: 37%;
    left: 8%;
    width: 22%;
  }
  #vault_info {
    margin-bottom: 0;
    margin-top: 61%;
  }
  #hero h3 {
    font-size: 1.2rem;
    margin-top: 1%;
  }
  #hero p {
    font-size: 1.1rem;
    margin-top: -4px;
    margin-bottom: 0;
  }
  #view_icon {
    width: 32px;
  }
}

/************************ Extra large devices (large desktops, 1400px and up) ********************************/
@media only screen and (min-width: 1400px) {
  /* CSS rules here */
  #nav_ {
    margin-top: 15rem;
  }
  .sidebar {
    width: 58px;
  }
  .icon_ {
    width: 22px;
    margin-left: -50%;
  }
  .icon_v {
    width: 30px;
  }
  .notification_icon {
    width: 28px;
  }
  #user_avatar {
    width: 35px;
    object-fit: cover;
    margin-top: 25%;
  }
  .sidebar .bottom-icons {
    margin-bottom: 35%;
  }

  #logout_img {
    width: 18px;
  }

  /* top nav */
  #logo {
    width: 40px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
