{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Organize and relive your memories with Memento Vault, a collaborative photo and video sharing app with AI-powered features."
    />

    <meta
      name="keywords"
      content="photo sharing app, video sharing, collaborative memory organizer, AI-powered photo organization, memory vault"
    />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
    <title>Memento Vault | Profile Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/profile.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/profile.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Nav-Section ================================-->
    {% include 'sidebar.html' %}

    <!--======================== Main-Section ================================-->
    <main>
      <div class="container-fluid">
        <header>{% include 'top_nav.html' %}</header>
        <!-- end header -->

        <!-- profile settings -->
        <div id="settings">
          <img
            src="{% static 'images/default-avatar.png'%}"
            class="img-fluid rounded-circle"
            id="profile_img"
            alt="profile_img"
          />
          <p>You have a treasure trove of memories, <span>DavidDanso</span></p>
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#editProfileModal"
          >
            <img
              src="{% static 'images/edit-pen.svg'%}"
              class="img-fluid"
              id="edit_pen"
              alt="edit_pen"
            />
            edit profile
          </button>

          <!-- settings-card -->
          <div id="settings-card">
            <div class="card">
              <div class="card-body">
                <h5>your plan <span>Basic Plan</span></h5>
                <hr id="card_line" />
                <h6>you have 5 more vaults to create.</h6>

                <div id="whats_new_banner">
                  <a href="#" class="btn">what’s new?</a>
                </div>
                <!-- end whats_new_banner -->
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </div>
          <!-- end settings-card -->

          <!-- delete_account_card -->
          <div id="delete_account_card">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="card">
                  <div class="card-body">
                    <h2>name: <span>DavidDanso</span></h2>
                    <h2>username: <span>desiinger</span></h2>
                    <h2>email: <span>example@example.com</span></h2>
                    <h2>location: <span>accra, ghana</span></h2>
                    <h2>account: <span>joined a month ago</span></h2>
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
                <h2>
                  DANGER ZONE:
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteAccountModal"
                    >close & delete my account</a
                  >
                </h2>
              </div>
              <!-- end col -->

              <div class="col-md-6">
                <img
                  src="{% static 'images/volunteer.svg'%}"
                  class="img-fluid"
                  id="volunteer_img"
                  alt="volunteer_img"
                />
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end delete_account_card -->
        </div>
        <!-- end profile settings -->
      </div>
      <!-- end container-fluid -->

      <!--=========================================== Profile-Settings-Modal ===============================-->
      {% include 'users/edit-profile-modal.html' %}
      <!-- End edit_profile-modal-->

      <!--=========================================== Delete-account-Modal ===============================-->
      {% include 'users/delete-account-modal.html' %}
      <!-- End delete_account-modal-->
    </main>
    <!-- end main -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/profile.js' %}"></script>
  </body>
</html>
