{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Organize and relive your memories with Memento Vault, a collaborative photo and video sharing app with AI-powered features." />

    <meta name="keywords" content="photo sharing app, video sharing, collaborative memory organizer, AI-powered photo organization, memory vault" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/logo.svg' %}" />
    <title>Memento Vault | Home Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/main.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (t.innerHTML = "root: { --tmp-var: bold; }"), document.head.appendChild(t), (e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)"))), t.parentNode.removeChild(t), e;
      };
      supportsCssVars() || alert("Please view this work in a modern browser that supports CSS Variables.");
    </script>
  </head>
  <body id="pageTop" class="page-content" data-spy="scroll" data-target="#mainNav">
    <!--======================== Main-Section ================================-->
    <main>
      <!--  -->
      <nav class="navbar navbar-expand-lg fixed-top menu" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/images/logo.svg' %}" class="img-fluid" id="logo" alt="logo" />
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span></span><span></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 left--links"></ul>
            <!--  -->
            <ul class="navbar-nav mb-2 mb-lg-0" id="rightNav">
              <li class="nav-item">
                <a class="nav-link btn" id="sign_up" href="{% url 'sign-up' %}">sign up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  <img src="{% static 'images/new_lock.svg' %}" class="img-fluid" id="new_lock" alt="new_lock" />
                  login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--=============================================== Hero ===================================-->
      <div id="hero">
        <div class="container-fluid">
          <div class="hero-intro">
            <div class="row">
              <div class="col-md-8">
                <h1>Memento <span></span> Vault.</h1>
                <a class="btn" id="desktop_btn" href="{% url 'sign-up' %}">sign up</a>
              </div>
              <!-- end col -->

              <div class="col-md-4 align-self-center">
                <p>Preserve your special moments with Memento Vault. Our platform makes it easy to store, organize, and share your cherished memories. With advanced tools, your digital photos and videos stay safe and accessible—all in one place.</p>
                <a class="btn" id="mob_btn" href="{% url 'sign-up' %}">sign up</a>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->

            <hr id="hero_line" />
          </div>
          <!-- end hero-intro -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- end hero -->

      <!--=============================================== Intro ===================================-->
      <div id="intro">
        <div class="container-fluid">
          <div class="intro-intro">
            <div class="row">
              <div class="col-md-3">
                <h6>
                  <img src="{% static '/images/icon_one.svg' %}" class="img-fluid" id="icon_" alt="icon_" />
                  step 1:
                </h6>
                <h5>Create Your Vault</h5>
                <p>Begin by setting up your account and creating a vault for your event. This will be your personal space to store all your photos, videos, and memories securely.</p>
              </div>
              <!-- end col -->

              <div class="col-md-3">
                <h6>
                  <img src="{% static '/images/icon_two.svg' %}" class="img-fluid" id="icon_" alt="icon_" />
                  step 2:
                </h6>
                <h5>Share the QR Code</h5>
                <p>After your vault is set up, you'll get a unique QR code. Share this code with your guests so they can quickly upload their photos and videos directly to your vault.</p>
              </div>
              <!-- end col -->

              <div class="col-md-3"></div>
              <!-- end col -->

              <div class="col-md-3">
                <h6>
                  <img src="{% static '/images/icon_three.svg' %}" class="img-fluid" id="icon_" alt="icon_" />
                  step 3:
                </h6>
                <h5>Enjoy Your Memoriese</h5>
                <p>Once everything is uploaded, you can organize, view, and relive your special moments whenever you want—all kept in one safe, convenient place.</p>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->

            <!--  -->
            <img src="{% static '/images/hero_banner.png' %}" class="img-fluid" id="hero_banner" alt="hero_banner" />
            <!--  -->
          </div>
          <!-- end intro-intro -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- end intro -->
    </main>
    <!-- end main -->

    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
