{% load static %}
<!-- django messages -->
<message>
  {% if messages %}
  <!--  -->
  {% for message in messages %}
  <div class="alert-container">
    <div
      class="alert alert-{{message.tags}}"
      role="alert"
      id="toast-{{forloop.counter}}"
    >
      <div>
        <div class="alert-content">{{message}}</div>
      </div>
      <div
        class="close-button"
        onclick="hideToast('toast-{{forloop.counter}}')"
      >
        <img
          src="{% static 'images/cross.png' %}"
          id="close_"
          class="img-fluid"
          alt="close_"
        />
      </div>
    </div>
  </div>
  <!-- end alert-container -->
  {% endfor %}
  <!--  -->
  {% endif %}
  <!--  end django message -->
</message>
